# dependencies
node_modules

# build outputs
dist
.next
out
build

# env files
.env

# misc
.DS_Store
.worktrees
.turbo
*.pem
*.tsbuildinfo

# debug logs
*.log

# temp
.pr-body.tmp
.vercel
.env*.local
