# dependencies
node_modules

# next.js
.next
out

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts
.vercel

# next-pwa generated service worker artifacts
public/sw.js
public/sw.js.map
public/swe-worker-*.js
public/workbox-*.js
public/workbox-*.js.map
